.modal {
  display: block;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  width: 70%;
  padding: 3000px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fff; /* Fond blanc */
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  border: none;
  border-radius: 52%;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

